<div class="">
  <div class="">
    {{link-button-icon
      altTag="facebook"
      href="https://facebook.com/chucklove909"
      iconName="entypo-social/facebook.svg"
    }}
    {{link-button-icon
      altTag="itunes"
      href="https://itunes.apple.com/us/artist/chuck-love/id79069264"
      iconName="entypo-social/app-store.svg"
    }}
    {{link-button-icon
      altTag="soundcloud"
      href="https://soundcloud.com/chuck-love-1"
      iconName="entypo-social/soundcloud.svg"
    }}
    {{link-button-icon
      altTag="google play"
      href="https://play.google.com/store/music/artist/Chuck_Love?id=A3bwugr27dl7hpsw3qsdqmug4jq"
      iconName="entypo-social/google-play.svg"
    }}
    {{link-button-icon
      altTag="twitter"
      href="https://twitter.com/chucklove909"
      iconName="entypo-social/twitter.svg"
    }}
    {{link-button-icon
      altTag="youtube"
      href="https://www.youtube.com/results?search_query=chuck+love+music"
      iconName="entypo-social/youtube.svg"
    }}
    {{link-button-icon
      altTag="mixcloud"
      href="https://www.mixcloud.com/discover/chuck-love/"
      iconName="entypo/cloud.svg"
    }}
    {{link-button-icon
      altTag="beatport"
      href="https://www.beatport.com/artist/chuck-love/7578"
      iconName="entypo/note.svg"
    }}
    {{link-button-icon
      altTag="discogs"
      href="https://www.discogs.com/artist/217129-Chuck-Love"
      iconName="entypo/vinyl.svg"
    }}
  </div>
</div>